.testimonials {
    p {
        font-size: 17px;
        @media screen and (min-width: 1000px) {
            font-size: 22px;
        }
    }

    .testimonials-img {
        background: url(../assets/imgs/bespoke.jpg);
        background-position: center;
        background-size: cover;
    }

    .container {
        padding: 20px;

        h1 {
            font-size: 30px;
            font-weight: 800;
            color: $purple;

            @media screen and (min-width: 1000px) {
                font-size: 36px;
            }
        }
    }
    .testimonials-title-container {
        padding-bottom: 1px;
    }
}
