
.header-container {
    height: 103px;
    width: 50%;
    margin: 0 auto;
}


.header-items {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    padding: 8px 0 !important;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

#logo-container {
    display: flex;
    align-items: center;
    max-width: 35%;
    min-width: 100px;
    height: auto;
}

#main-logo {
    height: auto;
    width: 80%;
    min-width: 100px;
    max-height: 72px;
    max-width: 135px;
}

.burger-button {
    display: block;
    position: absolute;
    height: 30px;
    width: 36px;
    cursor: pointer;
    left: auto;
    right: 36px;
    top: 36px;
}

#burger-line-1,
#burger-line-2,
#burger-line-3 {
    height: 20%;
    background-color: $purple;
    width: 100%;
    position: absolute;
    right: 0;
    left: 0;
}

#burger-line-1 {
    top: 0%;
}

#burger-line-2 {
    top: 40%;
}

#burger-line-3 {
    top: 80%;
}

.full-nav-items {
    display: none;

    .nav-link{
        margin: 0 20px;
        font-size: 1.3rem;
    }
    .nav-link:last-child{
        margin: 0;
    }
    .phone{
        display: inline;
        color: white;
        background: $purple;
        padding: 15px;
        border-radius: 5px;
        font-size: 1.1rem;
        strong{
            margin-left: 5px;
        }
        i{
            background: white;
            color: $purple;
            padding: 10px;
            border-radius: 50%;

            transform: rotateZ(90deg);
        }
    }
}




.contact-button {
    display: flex;
    font-size: 24px;
    color: white;
    background: $purple;
    border: 2px solid #fff;
    border-radius: 7px;
    padding: 9px 34px;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 1900px){
    .burger-button{
        display: none;
    }
    .full-nav-items{
        display: block;
    }
}

@media screen and (max-width: 1750px){
    .header-container{
        width: 60%;
    }
}
@media screen and (max-width: 1500px){
    .header-container{
        width: 70%;
    }
}
@media screen and (max-width: 1200px){
    .header-container{
        width: 80%;
    }
}
@media screen and (max-width: 1000px){
    .header-container{
        width: 100%;
    }
    #logo-container{
        margin-left: 20px;
    }
}