
.header-container {
    height: 103px;
}


.header-items {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    padding-top: 8px;
    padding-bottom: 8px;
}

#logo-container {
    display: flex;
    align-items: center;
    max-width: 35%;
    min-width: 100px;
    height: auto;
    padding-right: 15px;
    padding-left: 15px;
}

#main-logo {
    height: auto;
    width: 80%;
    min-width: 100px;
    max-height: 72px;
    max-width: 135px;
}

.burger-button {
    display: block;
    position: absolute;
    height: 30px;
    width: 36px;
    cursor: pointer;
    left: auto;
    right: 36px;
    top: 36px;
}

#burger-line-1,
#burger-line-2,
#burger-line-3 {
    height: 20%;
    background-color: $purple;
    width: 100%;
    position: absolute;
    right: 0;
    left: 0;
}

#burger-line-1 {
    top: 0%;
}

#burger-line-2 {
    top: 40%;
}

#burger-line-3 {
    top: 80%;
}

.full-nav-items {
    display: none;
}

.banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 665px;
    background-color: rgba(0,0,0,.7);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 0;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("../assets/imgs/banner-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 497px;
    color: white;
}

.banner h1 {
    text-transform: uppercase;
    font-size: 35px;
    margin-bottom: 20px;
    font-weight: 700;
    line-height: 1.2;
}

.banner p {
    line-height: 29px;
    margin-bottom: 30px;
    font-weight: 300;
}

.banner-sub-header {
    text-transform: uppercase;
    font-size: 18px;
}

#banner-line {
    width: 90%;
    height: 2px;
    background-color: white;
    margin: 5px auto 5px auto;
}

.contact-button {
    font-size: 24px;
    color: white;
    background: $purple;
    border: 2px solid #fff;
    border-radius: 7px;
    padding: 9px 34px;
    font-weight: 300;
    width: 260px;
    margin-left: auto;
    margin-right: auto;
}