// Store any styles that are used across multiple pages such as banners or cards.

.flex {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.bg-container-purple {
    width: 100%;
    background-color: $purple;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;

    @media screen and (min-width: 576px) {
        max-width: 540px;
    }

    @media screen and (min-width: 768px) {
        max-width: 720px;
    }

    @media screen and (min-width: 992px) {
        max-width: 960px;
    }

    @media screen and (min-width: 1200px) {
        max-width: 1140px;
    }
}

.secondary-container {
    background: #584096;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 40px 15px;
    font-size: 18px;
    color: #fff;
}

.secondary-container p {
    @media screen and (min-width: 576px) {
        max-width: 540px;
    }

    @media screen and (min-width: 768px) {
        max-width: 720px;
    }

    @media screen and (min-width: 992px) {
        max-width: 960px;
    }

    @media screen and (min-width: 1200px) {
        max-width: 1140px;
    }
}

.internal-page-banner {
    background-size: cover;
    height: 537.6px;
    background-repeat: no-repeat;
    background-position: center;
}

.info-container h1 {
    font-size: 30px;
    margin: 36px 0;
    color: $purple;

    @media screen and (min-width: 1000px) {
        font-size: 36px;
    }
}

.info-container p {
    font-size: 17px;
    margin: 0 0 16px;
    padding: 16px 0 0;

    @media screen and (min-width: 1000px) {
        font-size: 22px;
    }
}

.info-container {
    display: flex;
    flex-direction: column;
}

.purple-bg {
    background-color: $purple;
    color: white;
}

.get-in-touch-btn {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #fff;
    font-weight: 800;
    font-size: 24px;
    margin-left: auto;
    margin-right: auto;
    padding: 9px 34px;
    border-radius: 7px;
    transition: all 0.2s ease-in-out;

    &:hover {
        background: $purple;
        color: white;
        border: 2px solid #fff;
        border-radius: 7px;
    }

    @media screen and (min-width: 768px) {
        width: 290px;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 30px;
    }
}
