// Store any styles that are used across multiple pages such as banners or cards.

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}